@charset "utf-8";
 *{
	margin:0;
    margin: 0;
}
html{height: 100%;}
body 
{height: 100%;
width: 100%;
}
.header{width:100%;
	min-height: 300px
}
.head{height: 530px}
#wrapper{
	display: block;
	min-height: 90%;
	height: 10px;
}
img{
	width: 100%;
}
#menu{ 
	width: 400px;
	height: 100px;
	font-size: 1.7em;
	font-family: "Times New Roman"
}
.footer{
	position: relative;
	margin-top: 1650px;
	width:100%;
	min-height: 100px;
}
.foot{height: 580px}